<div class="row">
	<div class="col s6 m6 l3">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="static/img/sonny_resized.png">
			</div>
			<div class="card-reveal black-text black clear-background">
				<span class="card-title text-darken-4 white-text">Sonny Tosco</span>
				<h6 class="white-text">Role: Product Guy</h6>
				<div class="spacer"></div>
				<h6 class="white-text">College</h6>
				<img class="college" src="static/img/misc/usma.png">
				<h5 class="white-text">Follow Me</h5>
				<a href="https://www.linkedin.com/in/sonnytosco" target="_blank"><img class="icon" src="static/img/socialicons/linkedin.png"></a>
				<a href="https://github.com/SonnyTosco" target="_blank"><img class="icon" src="static/img/socialicons/39062.png"></a>
				<a href="http://Sonnytosco.com" target="_blank"><img class="icon" src="static/img/socialicons/logo_transparent_background.png"></a>
			</div>
		</div>
	</div>

	<div class="col s6 m6 l3">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="static/img/phil_resized.png">
			</div>
			<div class="card-reveal black-text black clear-background">
				<span class="card-title text-darken-4 white-text">Phil Vo</span>
				<h6 class="white-text">Role: Back End Boss</h6>
				<div class="spacer"></div>
				<h6 class="white-text">College</h6>
				<img class="college" src="static/img/misc/davis.png">
				<h5 class="white-text">Follow Me</h5>
				<a href="https://www.linkedin.com/in/philipvo" target="_blank"><img class="icon" src="static/img/socialicons/linkedin.png"></a>
				<a href="https://github.com/PhilipVo" target="_blank"><img class="icon" src="static/img/socialicons/39062.png"></a>
				<a href="http://philipvo.github.io" target="_blank"><img class="icon" src="static/img/socialicons/logo_transparent_background.png"></a>
			</div>
		</div>
	</div>

	<div class="col s6 m6 l3">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="static/img/elliot_resized.png">
			</div>
			<div class="card-reveal black-text black clear-background">
				<span class="card-title text-darken-4 white-text">Elliot Young</span>
				<h6 class="white-text">Role: Back-Door Boss</h6>
				<div class="spacer"></div>
				<h6 class="white-text">College</h6>
				<img class="college" src="static/img/misc/davis.png">
				<h5 class="white-text">Follow Me</h5>
				<a href="https://www.linkedin.com/in/elliot-young-5768199a" target="_blank"><img class="icon" src="static/img/socialicons/linkedin.png"></a>
				<a href="https://github.com/elliotsyoung" target="_blank"><img class="icon" src="static/img/socialicons/39062.png"></a>
				<a href="" target="_blank"><img class="icon" src="static/img/socialicons/logo_transparent_background.png"></a>
			</div>
		</div>
	</div>

	<div class="col s6 m6 l3">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="static/img/george_resized.png">
			</div>
			<div class="card-reveal black-text black clear-background">
				<span class="card-title text-darken-4 white-text">George Miranda</span>
				<h6 class="white-text">Role: Funkmaster of Front-End</h6>
				<div class="spacer"></div>
				<h6 class="white-text">College</h6>
				<img class="college" src="static/img/misc/mjc.png">
				<h5 class="white-text">Follow Me</h5>
				<a href="https://www.linkedin.com/in/george-miranda-462a47114" target="_blank"><img class="icon" src="static/img/socialicons/linkedin.png"></a>
				<a href="https://github.com/FunkyGeorge" target="_blank"><img class="icon" src="static/img/socialicons/39062.png"></a>
				<a href="http://Aboutgeorge.net" target="_blank"><img class="icon" src="static/img/socialicons/logo_transparent_background.png"></a>
			</div>
		</div>
	</div>
</div>

