	<div class="row">
		<div class="col s12 m12 l3 tech-column">
			<h4 class="Trivial">Languages</h4>
			<img class="tech-logo" src="static/img/technologies/html5.png">
			<img class="tech-logo" src="static/img/technologies/python.png">
			<img class="tech-logo" src="static/img/technologies/swiftlogo.png">
		</div>
		<div class="col s12 m12 l3 tech-column">
			<h4 class="Trivial">Front-End</h4>
			<img class="tech-logo" src="static/img/technologies/materialize.png">
			<img class="tech-logo" src="static/img/technologies/react.png">
			<img class="tech-logo" src="static/img/technologies/jQuery.png">
			<img class="tech-logo" src="static/img/technologies/angular.png">
			<img class="tech-logo" src="static/img/technologies/jslogo.png">
		</div>
		<div class="col s12 m12 l3 tech-column">
			<h4 class="Trivial">Back-End</h4>
			<img class="tech-logo" src="static/img/technologies/aws.png">
			<img class="tech-logo" src="static/img/technologies/meanlogo.png">
			<img class="tech-logo" src="static/img/technologies/mongologo.png">
			<img class="tech-logo" src="static/img/technologies/nginx.png">
			<img class="tech-logo" src="static/img/technologies/mysql.png">
			<img class="tech-logo" src="static/img/technologies/nodelogo.png">
		</div>
		<div class="col s12 m12 l3 tech-column">
			<h4 class="Trivial">Frameworks</h4>
			<img class="tech-logo" src="static/img/technologies/flask.png">
			<img class="tech-logo" src="static/img/technologies/angular.png">
		</div>
	</div>