@font-face {
	font-family: Trivial;
	src: url(../fonts/trivial-rescue/Trivial-Regular.otf);
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato2OFL/Lato-Regular.ttf);
}

html {
	background-color: white;
	color: black;
	margin: 0px;
	padding: 0px;
	font-family: Lato;
}

nav {
	height: 10%;
	margin-bottom: 2em;
}

.black-text {
	color: black;
}

.clear-background {
	opacity: 0.5;
}

#Logo {
	margin-top: -25px;
	width: 3em;
}

#Logo-box {
	padding: 3em;
	max-height: 5em;
}

.icon {
	width: 2em;
	height: 2em;
}

.college {
	width: 7em;
}

.spacer {
	display: block;
	height: 3em;
}

.menu-item {
	text-decoration: underline;
	color: white;
}

.navbar-item {
	display: inline-block;
	padding: 10px 5px 0px 5px;
}

.tech-column {
	text-align: center;
}

.tech-logo {
	max-width: 9em;
}

.Trivial{
	font-family: Trivial;
}