@font-face {
	font-family: Trivial;
	src: url(../fonts/trivial-rescue/Trivial-Regular.otf);
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato2OFL/Lato-Regular.ttf);
}

html {
	background-color: white;
	color: black;
	margin: 0px;
	padding: 0px;
	font-family: Lato;
}

nav {
	height: 10%;
	margin-bottom: 2em;
}

.black-text {
	color: black;
}

.clear-background {
	background-color: rgba(0, 0, 0, 0.5);
}

.non-transparent{
	opacity: 1.0;
}

#Copy {
	position: relative;
	top: -15px;
	left: 15px;
}

#Logo {
	width: 1em;
}

#Logo-box {
	padding: 3em;
	max-height: 5em;
}

.icon {
	width: 1.5em;
	height: 1.5em;
}

.college {
	width: 4em;
}

#modestojc-box{
	width: 6em;
}

.college-box {
	display: block;
	min-height: 4.5em;
}

.spacer {
	display: block;
	height: 2em;
}

.menu-item {
	text-decoration: underline;
	color: black;
}

.navbar-item {
	display: inline-block;
	padding: 10px 5px 0px 5px;
}

.tech-column {
	text-align: center;
}

.tech-logo {
	max-width: 9em;
}

.tech-logo2 {
	max-width: 5em;
}

.Trivial{
	font-family: Trivial;
}

.portfolio-card{
	height: 21em;
}

.padded-image{
	padding: 20px;
}

.contact-icon{
	margin-top: 3em;
	max-width: 6em;
}

#rocketship-icon{
	margin-top: 1em;
}

.image-or-paragraph-div{
	min-height: 15em;
	vertical-align: middle;
}

.contact-paragraph{
	font-size: 20px;
}
