html {
	background-color: white;
	color: black;
	margin: 0px;
	padding: 0px;
}

nav {
	height: 20%;
	margin-bottom: 2em;
}

.black-text {
	color: black;
}

.clear-background {
	opacity: 0.7;
}

#Logo {
	width: 5em;
	margin-top: -45px;
}

#Logo-box {
	padding: 3em;
	max-height: 5em;
}

.menu-item {
	text-decoration: underline;
	color: white;
}

.navbar-item {
	display: inline-block;
	padding: 20px 5px 5px 5px;
}

.tech-column {
	text-align: center;
}

.tech-logo {
	max-width: 7em;
}